<div id="container-name">
  <div class="wrap-name">
    <div class="name">

      <div class="idplan">
        <div class="text-idplan">
          <p>Houseplan#</p>
        </div>
        <a routerLink="product" rel="nofollow">
          <div class="id-idplan">ZEH 100</div>
        </a>
      </div>

      <div class="nameplan">
        <div class="text-nameplan">
          <a routerLink="product" rel="nofollow"
            title="Проект двоповерхового будинку з мансардою та спальнями для дітей та ванною для гостей">
            Проект двоповерхового будинку з мансардою та спальнями для дітей
            та ванною для гостей
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


