#container-name{}

.wrap-name{}

.name {}

.idplan {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 15px;
  margin-left: 15px
}

.text-idplan {
  color: #848884;
  font-size: 15px;
}

.id-idplan:hover {
  color: rgb(255, 110, 12)
}

.id-idplan {
  color: #087431;
  font-size: 16px;
  padding-left: 5px;
  font-weight: 600;
  font-style: italic;
  border-bottom: 1px solid
}

.id-idplan:hover {
  color: rgb(255, 110, 12);
  cursor: pointer
}

.nameplan {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: -5px
}

.text-nameplan {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  color: #004B91;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  transition: none
}

.text-nameplan:hover {
  text-decoration: underline;
  color: rgb(255, 110, 12)
}
