<div id="footer-content-container-global">

  <div class="sociality-footer-content-global">

    <app-region-select-footer-global></app-region-select-footer-global>

    <app-signin-select-footer-global></app-signin-select-footer-global>

    <app-share-select-footer-global></app-share-select-footer-global>

  </div>

  <div class="nav-footer-content-global">
    <table class="table-nav-footer-content-global" role="presentation">
      <tr>

        <td>
          <h3 class="h-first-table-nav-footer"><a href="https://#" _sp="" data-sp="">HBH</a></h3>
          <ul>
            <li class="li-first-table-nav-footer"><a href="https://#" _sp="" data-sp="">House Build Hub</a></li>
          </ul>
        </td>

        <td class="td">
          <h3 class="h-all-table-nav-footer">Get to Know Us</h3>
          <ul>
            <li class="li-all-table-nav-footer"><a target="_blank" routerLink="/partnership" rel="nofollow" title="" _sp="" data-sp="">Partnership & Investment</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Careers</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">About HBH</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Contact Us</a></li>
          </ul>
        </td>

        <td class="td">
          <h3 class="h-all-table-nav-footer">Make Money with Us</h3>
          <ul>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Publich & Sell Your Houseplans</a>
            </li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Advertise Your Products</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Provide Services to Customers</a>
            </li>
            <li class="li-all-table-nav-footer"><a style="color: red;" target="_blank"
                href="https://partnernetwork.ebay.com/" _sp="" data-sp="">Partner Network</a></li>
          </ul>
        </td>

        <td class="td">
          <h3 class="h-all-table-nav-footer">Let Us Help You</h3>
          <ul>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Your Account</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Returns & Orders</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Customer Service</a></li>
            <li class="li-all-table-nav-footer"><a href="https://#" _sp="" data-sp="">Your Discount</a></li>
          </ul>
        </td>

      </tr>
    </table>
  </div>

  <div class="bottomline-footer-content-global">
    <p>
      <a class="a-bottomline-footer" target="_blank" href="//#/">Conditions of Use</a>
      <a class="a-bottomline-footer" target="_blank" href="//#">Privacy Notice</a>
      <a class="a-bottomline-footer" target="_blank" href="//#/">Cookies</a>
      <a class="a-bottomline-footer" target="_blank" href="//#/">Your Privacy Choices</a>
    </p>
    <span class="span-bottomline-footer">
      &copy; {{ currentYear }} Houseplans.top, Inc. or its affiliates. HouseBuildHub. All rights reserved.
    </span>
  </div>

</div>
