<div id="container-sorting">
  <div class="wrap-sorting">

    <div class="sorting">
      <select class="dropdown-sorting"  name="format">
        <option class="item-sorting" value="popular">Most Popular</option>
        <option class="item-sorting" value="reviews">By Reviews</option>
        <option class="item-sorting" value="newest">Newest</option>
        <option class="item-sorting" value="most-sqft">Most sq/ft</option>
        <option class="item-sorting" value="least-sqft">Least sq/ft</option>
        <option class="item-sorting" value="highest-price">Highest Price</option>
        <option class="item-sorting" value="lowest-price">Lowest Price</option>
      </select>
    </div>

  </div>
</div>



