<div id="container-datahome">
  <div class="wrap-datahome">
    <div class="datahome">

      <div class="totalsquare-data   content">
        <div class="totalsquare-caption   caption">Sq.Ft./Total
        </div>
        <div class="totalsquare-value   value">3952
        </div>
      </div>

      <div class="livingsquare-data   content">
        <div class="caption-livingsquare   caption">Sq.Ft./Living
        </div>
        <div class="value-livingsquare   value">2410
        </div>
      </div>

      <div class="wide-data   content">
        <div class="wide-caption   caption">Wide
        </div>
        <div class="wide-value   value">76"10"
        </div>
      </div>

      <div class="deep-data   content">
        <div class="deep-caption   caption">Deep
        </div>
        <div class="deep-value   value">40"8"
        </div>
      </div>

      <div class="story-data   content">
        <div class="story-caption   caption">Story
        </div>
        <div class="story-value   value">2
        </div>
      </div>

      <div class="bed-data   content">
        <div class="bed-caption   caption">Bed
        </div>
        <div class="bed-value   value">3
        </div>
      </div>

      <div class="bath-data   content">
        <div class="bath-caption   caption">Bath
        </div>
        <div class="bath-value   value">2
        </div>
      </div>

      <div class="garage-data   content">
        <div class="garage-caption   caption">Garage
        </div>
        <div class="garage-value   value">---
        </div>
      </div>

    </div>
  </div>
</div>
