

<div id="page-container-global">

  <app-header-global></app-header-global>


  <div id="page-content-global">



          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>
          <p>page-main-global works! </p>


  </div>

  <app-footer-global></app-footer-global>

  <app-sidebarright-global></app-sidebarright-global>


</div>


