<div id="pagemain__global">

  <app-header-global></app-header-global>

  <div id="container-pagemain__global">

    <div id="top-pagemain__global">

      <div id="infobanner-pagemain__global"> <app-infobanner-top-page-main-global></app-infobanner-top-page-main-global>
      </div>

      <div id="infoitems-pagemain__global">
        <app-infoitems-top-page-main-global></app-infoitems-top-page-main-global>
      </div>

    </div>

    <div id="center-pagemain__global">

      <div class="block" id="infohouseplans-pagemain__global">
        <app-infohouseplans-center-page-main-global></app-infohouseplans-center-page-main-global>
      </div>

      <div class="block" id="infobuilders-pagemain__global">
        <app-infobuilders-center-page-main-global></app-infobuilders-center-page-main-global>
      </div>

      <div class="block" id="infoarchitects-pagemain__global">
        <app-infoarchitects-center-page-main-global></app-infoarchitects-center-page-main-global>
      </div>

      <div class="block" id="infosellers-pagemain__global">
        <app-infosellers-center-page-main-global></app-infosellers-center-page-main-global>
      </div>

    </div>

    <div id="bottom-pagemain__global">
    </div>

  </div>

  <app-footer-global></app-footer-global>

  <app-sidebarright-global></app-sidebarright-global>

</div>
