.hhhhh {
  color: red;
  width: 100vw;
  /* Займати всю ширину батьківського елементу */
  position: absolute;
  /* Розмістити компонент абсолютно */
  left: 0;
  /* Початок відносно лівого краю батьківського елементу */
  top: 0;
  background-color: rgb(236, 241, 241);


}



