<div id="banner-above-header-container-global">
  <!--
    <style>
    .banner-above-header-background-image-wrapper-global {
      background-image: url(/assets/assets_Global/banner_Global/banner-above-header-background-image-wrapper-global.JPG);
    }
  </style>
-->

  <div class="banner-above-header-global">
    Attention: This is a test version currently in development
    <a routerLink="/partnership" target="_blank">
      <div class="banner-above-header-background-image-wrapper-global"></div>
    </a>
  </div>

</div>
