<div id="banner-above-header-container-global">
  <!--
    <style>
    .banner-above-header-background-image-wrapper-global {
      background-image: url(/assets/assets_Global/banner_Global/banner-above-header-background-image-wrapper-global.JPG);
    }
  </style>
-->

  <div class="banner-above-header-global">

    <a target="_blank" routerLink="/partnership" rel="nofollow" title="" >For INVESTORS: Startup / Cooperation & sale of rights ( this test version in development ) >>>
     
    </a>
  </div>

</div>

