a {
  color: #004B91;
  text-decoration: none;
}

#banner-above-header-container-global {
  min-width: 1200px;

  }

  .banner-above-header-global {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 30px;
    background-color: yellow;
    color: red;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    padding-top: 10px;
  }

  .banner-above-header-global .banner-above-header-background-image-wrapper-global {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1920px 40px;
}


