.wrap-bottom-header-global {
  display: flex;
  justify-content: space-between;
  max-height: 24px;
  clear: both;
  position: relative;
  padding-top: 0px;
  height: 10px;
  box-sizing: content-box;
  position: static;
  float: none;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 7px;
  height: 100%;
}

#geolocation-bottom-header-global {}

#saved-bottom-header-global {margin-right: auto;}

#department-bottom-header-global {}

#discount-bottom-header-global {margin-left: 10px;}

#customerservice-bottom-header-global {margin-left: auto;}
