<div class="wrap-rightpanel__houseplans">
  <div id="item-rightpanel__houseplans" data-spm="" data-widget-cid="">
    <div class="body-rightpanel__houseplans">
      <h4 class="h4-text"></h4>
      <div class="content-rightpanel__houseplans">
        <ul class="items5-rightpanel__houseplans">

          <li class="item-rightpanel__houseplans">


    <div class="product-location__serviselink">
      <div>
        <i class="material-icons   point-location__serviselink">location_on</i>
      </div>
      <p class="product-region__serviselink">
        <a title="Boston, USA" rel="nofollow" target="_blank" data-domdot="" href="#" data-p4plog="">Boston, USA
        </a>
      </p>
    </div>



            <p class="category-name__serviselink"> Вest builders in your region </p>





            <div class="img-wrapper-rightpanel__houseplans">
              <div class="img-inner-wrapper-rightpanel__houseplans">
                <a rel="nofollow" target="_blank" data-domdot="" href="#" title="" data-p4plog="">
                  <img src="../assets/assets_Builders/image_Builders/фото робочого.JPG" alt=""></a>
              </div>
            </div>
            <p class="product-name__serviselink"> Adam Smitt </p>

            <div  class="rating">
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star_half</span>
            </div>



            <div class="product-check__serviselink">
              <div>
                <i class="material-icons  icon-product-check__serviselink">task_alt</i>
                <span class="text-product-check__serviselink">Verified</span>
              </div>
              <div>
                <i class="material-icons   icon-product-certificate__serviselink">workspace_premium</i>
                <span class="text-product-certificate__serviselink">Certified</span>
              </div>
            </div>




          </li>
          <li class="item-rightpanel__houseplans">
            <div class="img-wrapper-rightpanel__houseplans">
              <div class="img-inner-wrapper-rightpanel__houseplans">
                <a rel="nofollow" target="_blank" data-domdot="" href="#" title="" data-p4plog="">
                  <img src="../assets/assets_Builders/image_Builders/фото робочого.JPG" alt=""></a>
              </div>
            </div>

            <p class="product-name__serviselink"> Adam Smitt </p>
            <div>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star</span>
              <span class="stars-size material-icons">star_half</span>
            </div>
            <div class="product-check__serviselink">
              <div>
                <i class="material-icons  icon-product-check__serviselink">task_alt</i>
                <span class="text-product-check__serviselink">Verified</span>
              </div>
            </div>

            <div class="product-certificate__serviselink">
              <div>
                <i class="material-icons   icon-product-certificate__serviselink">workspace_premium</i>
                <span class="text-product-certificate__serviselink">Certified</span>
              </div>
            </div>

            <div class="product-location__serviselink">
              <div>
                <i class="material-icons   point-location__serviselink">location_on</i>
              </div>
              <p class="product-region__serviselink">
                <a title="Boston, USA" rel="nofollow" target="_blank" data-domdot="" href="#" data-p4plog="">Boston, USA
                </a>
              </p>
            </div>
            <p class="product-title__serviselink">
              <a title="" rel="nofollow" target="_blank" data-domdot="" href="#" data-p4plog="">Сельскохозяйственная
                ткань
              </a>
            </p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
