<div id="pagecatalog__houseplans">

  <app-header-global></app-header-global>

  <div id="pagecatalog-container__houseplans">

    <div id="pagecatalog-container-leeftpanel__houseplans">
      <app-productfilterleftpanel-page-catalog-houseplans></app-productfilterleftpanel-page-catalog-houseplans>
    </div>

    <div id="pagecatalog-container-centercontent__houseplans">

      <div id="breadcrumbs-pagecatalog__houseplans">
        <app-breadcrumb-global></app-breadcrumb-global>
      </div>

      <div id="selectionsortingviews-pagecatalog__houseplans">
        <div id="sorting-pagecatalog__houseplans">
          <app-sorting-page-catalog-houseplans></app-sorting-page-catalog-houseplans>
        </div>
        <div id="displayviews-pagecatalog__houseplans">
          <app-displayviews-page-catalog-houseplans></app-displayviews-page-catalog-houseplans>
        </div>
      </div>

      <div id="filteredselection-pagecatalog__houseplans">
        <app-filterselection-page-catalog-houseplans></app-filterselection-page-catalog-houseplans>
      </div>

      <div id="productcardviews-pagecatalog__houseplans">
        <app-productcardviews-page-catalog-houseplans></app-productcardviews-page-catalog-houseplans>
      </div>

      <div id="pagination-pagecatalog__houseplans">
        <app-pagination-global></app-pagination-global>
      </div>

      <div id="reviewed-pagecatalog__houseplans">
        <app-reviewed-global></app-reviewed-global>
      </div>

      <div id="recommended-pagecatalog__houseplans">
        <app-recommended-global></app-recommended-global>
      </div>

      <div id="textseo-pagecatalog__houseplans">
        <app-textseo-page-catalog-houseplans></app-textseo-page-catalog-houseplans>
      </div>
    </div>

    <div id="pagecatalog-container-rightpanel__houseplans">
      <app-servicelinksrightpanel-page-catalog-houseplans></app-servicelinksrightpanel-page-catalog-houseplans>
    </div>

  </div>

  <app-footer-global></app-footer-global>

  <app-sidebarright-global></app-sidebarright-global>

</div>
