a {
  color: red;
  text-decoration: none;
}

#banner-above-header-container-global {
  min-width: 1200px;

  }

  .banner-above-header-global {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 30px;
    background-color: yellow;
    color: red;
    font-size: 20px;
    font-weight: 500px;
    align-items: center;
    padding-top: 10px;
    cursor:pointer;
    text-decoration: none;
  }





.banner-above-header-global:hover {
  text-decoration: underline;
}
