#container-dataenergy {}

.wrap-dataenergy {}

.dataenergy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-left: 5px;
  padding-right: 5px
}

.content {
  border: solid 1px rgba(218, 220, 224, 1);
  line-height: 16px
}

.caption {
  font-size: 11px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.value {
  text-align: center
}

.value-data {
  display: flex;
  justify-content: center;
  margin-top: px;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  display: inline-block;
  color: red
}

.value-unit {
  display: flex;
  justify-content: center;
  margin-left: 2px;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  display: inline-block
}




