
<div id="pagemain__houseplans">



<div id="pagemain-container-houseplans">

  <app-header-global></app-header-global>

  <div id="pagemain-container_top-houseplans">
    <app-breadcrumb-global></app-breadcrumb-global>

  </div>

  <div id="pagemain-container_left-houseplans">
  </div>

  <div id="pagemain-container_content-houseplans">
    <p>page-main-houseplans works! </p>
    <p>page-main-houseplans works! </p>
    <p>page-main-houseplans works! </p>
    <p>page-main-houseplans works! </p>
    <p>page-main-houseplans works! </p>

  </div>

  <div id="pagemain-container_bottom-houseplans">
  </div>

  <app-footer-global></app-footer-global>

  <app-sidebarright-global></app-sidebarright-global>

</div>

</div>
