<div id="container-idplans">
  <div class="wrap-idplans">
    <div class="idplans">

      <div class="text-idplans">
        <p>Plan ID:</p>
      </div>
      <div class="type-idplans">
        <p> {{ type_Houseplan }}</p>
      </div>
      <div class="number-idplans">
        <p> {{ id_Houseplan }}</p>
      </div>
      <div class="icons-idplans" >
        <span class="material-icons" title="Add to Favorites" (click)="addToFavorites()" >favorites</span>
      </div>
      <div class="icons-idplans">
        <span class="material-icons" title="Share">share</span>
      </div>

    </div>
  </div>
</div>




