<div class="wrap-geolocation-bottom-header__global">

  <div>
    <i class="material-icons   icon-geolocation ">location_on</i>
  </div>

  <div class="name-icon-geolocation">
    <a title="" rel="nofollow" data-domdot="" routerLink="/geolocation" data-p4plog="">Boston
    </a>
  </div>

  <div>
    <i class="material-icons   icon-arrow "><span class="material-icon-arrow">
        <span class="material-icon-arrow">
          <span class="material-icon-arrow">
            arrow_drop_down
          </span>
        </span>
      </span></i>
  </div>

  <div class="vertical-divider">|</div>

</div>
