<div class="wrap-depatment-bottom-header__global">

  <nav class="info-fill-bottom-header">
    <ul class="list-fill-bottom-header">



      <li *ngFor="let item of menuItems" class="menu-item">
        <a class="link-fill-bottom-header" [routerLink]="['/', item.specialValue]"
          (mouseenter)="showComponent(item.specialValue)">
          {{ item.name }}
        </a>
        <div class="dropdown-content" *ngIf="displayComponent[item.specialValue]"
          (mouseleave)="hideComponent(item.specialValue)">
          <app-categorymenu-houseplans-select-header-global
            *ngIf="item.specialValue === 'houseplans'"></app-categorymenu-houseplans-select-header-global>
          <app-categorymenu-builders-select-header-global
            *ngIf="item.specialValue === 'builders'"></app-categorymenu-builders-select-header-global>
          <app-categorymenu-builders-select-header-global
            *ngIf="item.specialValue === 'shops'"></app-categorymenu-builders-select-header-global><!-- Додайте інші компоненти відповідно до пунктів меню -->
        </div>
      </li>




    </ul>
  </nav>
</div>
