
.wrap-center-header__global {
  clear: both;
  position: relative;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}

#categoryselection-center-header__global {
  display: flex;
  position: static;
  float: none;
  cursor: pointer;
  width: auto;
  align-items: center;
  margin-left: 20px;
}

#searchbar-center-header__global {
  height: 36px;
  border-radius: 0;
  background-color: #fff;
  margin-left: 80px;
  margin-right: 0px;
  display: flex;
  width: auto;
  justify-content: flex-start;
  border: 2px solid;
  border-color: #FF6A00;
}

#languageselection-center-header__global {}

#registration-center-header__global {}

#basket-center-header__global {}









#header_category {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon-left-main-header {
  color: #ac2828;
  display: inline-block;
}

.icontext-left-main-header {
  color: #ac2828;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}



#input_searchbar_main_header {
  display: flex;
  width: 500px;
  align-items: center;
  margin-left: 10px;
}

#input_searchbar_main_header input[type="search"] {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  font-size: 14px !important;
}

.icon-voice-search-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.icon-voice-search-button:hover {
  color: #E35300;
}

.icon-voice-search-button i {
  font-size: 20px !important;
  color: gray;
}

.icon-voice-search-button i:hover {
  color: #E35300;
}


.icon-foto-search-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-foto-search-button i {
  font-size: 20px !important;
  color: gray;
}

.icon-foto-search-button i:hover {
  color: #E35300;
}

#lens_searchbar_main_header {
  background: #FF6601;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

#lens_searchbar_main_header:hover {
  background: #E35300;
}

.lens_search_button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.icon-lens-search-button {
  color: white;
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  text-align: center;
  padding-left: 5px;
  cursor: pointer;
}

.icon-text-search-button {
  color: white;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
}

.right-main-header {
  width: auto;
  position: static;
  float: none;
  padding-left: 20px;
}
