<div class="wrap-productcardverticaldview__houseplans">

  <div class="items-gallery-productcardverticaldview__houseplans" data-spm="" id="gallery-product-items__houseplans">

    <div class="item-content-productcardverticaldview__houseplans">

      <div>
        <app-viewpoint-verticalproductcardview-productcardviews-page-catalog-houseplans></app-viewpoint-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-image-verticalproductcardview-productcardviews-page-catalog-houseplans></app-image-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-id-verticalproductcardview-productcardviews-page-catalog-houseplans></app-id-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-type-verticalproductcardview-productcardviews-page-catalog-houseplans  ></app-type-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-datahome-verticalproductcardview-productcardviews-page-catalog-houseplans></app-datahome-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-climate-verticalproductcardview-productcardviews-page-catalog-houseplans></app-climate-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-dataenergy-verticalproductcardview-productcardviews-page-catalog-houseplans></app-dataenergy-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-name-verticalproductcardview-productcardviews-page-catalog-houseplans></app-name-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-rating-verticalproductcardview-productcardviews-page-catalog-houseplans></app-rating-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>

      <div>
        <app-price-verticalproductcardview-productcardviews-page-catalog-houseplans></app-price-verticalproductcardview-productcardviews-page-catalog-houseplans>
      </div>





      <div id="product_avtor">
        <div class="verified">
          <img class="verified-icon" src="images/verif_icon.png" alt="......" />
        </div>
        <div class="YRS"> YRS...
        </div>
        <div class="Avtor"> flag......
        </div>
        <div class="country"> Avtor
        </div>
      </div>

      <div id="product_avtor-Modal">
        <div id="product_avtor-Modal-Content">
          <p>Це модальне вікно.</p>
        </div>
      </div>

      <div class="product_building">
        <div class="product_building-order"> Узнать стоимость строительства ...
        </div>
      </div>

    </div>
  </div>




</div>
