
<div id="container-rating">
  <div class="wrap-rating">
    <div class="rating">



    </div>
  </div>
</div>




<div class="icons-idplans">
  <span class="material-icons" title="Add to Favorites">favorites</span>
</div>




<div class="product_rating">
  <div class="product_rating-average"> 4,6
  </div>
  <div class="product_rating-stars">
    <img class="c-image" src="images/icon-rating.JPG" alt="....." />
  </div>
  <div class="product_rating-popover">
    <img class="a-image" src="images/84139.png" alt="....." />
  </div>
  <div class="product_rating-quantity"> (4)
  </div>
</div>
