<div id="container-rating">
  <div class="wrap-rating">
    <div class="rating">

      <div class="stars-rating" aria-label="4.7 out of 5 stars">
        <span class="stars-size material-icons">star</span>
        <span class="stars-size material-icons">star</span>
        <span class="stars-size material-icons">star</span>
        <span class="stars-size material-icons">star</span>
        <span class="stars-size material-icons">star_half</span>
        <span class="expand-rating">
          <i class="expand-rating material-icons">expand_more</i>
        </span>
      </div>
      <div class="quantity-rating">
        <p class="reviews-rating">
          <a class="reviews-rating" title="See Reviews" rel="nofollow" target="_blank" data-domdot="" href="#" data-p4plog="">(38)
          </a>
        </p>
      </div>

    </div>
  </div>
</div>


