<div id="container-dataenergy">
  <div class="wrap-dataenergy">
    <div class="dataenergy">

      <div class="payment   content">
        <div class="caption">Payment
        </div>
        <div class="value">
          <div class="value-data" id="payment-value">0
          </div>
          <div class="value-unit">$
          </div>
        </div>
      </div>

      <div class="consumption   content">
        <div class="caption">Consumption
        </div>
        <div class="value">
          <div class="value-data" id="consumption-value">860
          </div>
          <div class="value-unit">kWh
          </div>
        </div>
      </div>

      <div class="generation   content">
        <div class="caption">Generation
        </div>
        <div class="value">
          <div class="value-data" id="generation-value">2410
          </div>
          <div class="value-unit">kWh
          </div>
        </div>
      </div>

      <div class="solarstation   content">
        <div class="caption">Solar Station
        </div>
        <div class="value">
          <div class="value-data" id="solarstation-value">3
          </div>
          <div class="value-unit">kW
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
