<div class="wrap-filterleftpanel__houseplans">
  <div class="subwrap-filterleftpanel__houseplans">
    <div class="attribute-abox-filterleftpanel__houseplans" id="attribute-abox-filterleftpanel__houseplans">




      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">house</i>
            <span class="abox-title-text">FILTER by Energy Efficient</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">






            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>House type</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Zero Energy House <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Energy Saving House <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Typical House <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-product-attribute-refine',
                lessTxt: '<i class="ui2-icon ui2-icon-subtract"></i> '
              });
            });
          </script>
          <div data-spm="13" class="m-min-order" id="J-m-min-order-refine">
            <div data-role="minOrder" class="min-order">
              <span class="mo-txt"> Мин. заказ:
              </span>
              <input type="text" maxlength="30" id="dotFilterMoqt" data-role="moNum"
                class="ui2-textfield ui2-textfield-single ui2-textfield-small">
              <a rel="nofollow" href="javascript:;" data-ml="true" data-url="#" data-role="moOk"
                class="ui2-button ui2-button-default ui2-button-normal ui2-button-small" data-domdot="'">OK</a>
            </div>
          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/min-order/min-order.css" crossorigin="anonymous"
            rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/min-order/min-order.js")(function (minOrder) {
              minOrder({
                element: '#J-m-min-order-refine'
              });
            });
          </script>
        </div>
      </div>


      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">house</i>
            <span class="abox-title-text">FILTER by Features</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Stories</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">One Story <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Two Stories <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>

              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Square</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">up to 1000 Sq.ft <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">1000-2000 Sq.ft <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">2000-3200 Sq.ft <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">over 3200 Sq.ft <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">Filter by ROOMS</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Bedrooms</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">1 Bedroom <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">2 Bedrooms <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">3 Bedrooms <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">24 Bedrooms or more <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Bathrooms</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">ADDITIONALLY</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Garage, Carport</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Статус
                    продукта</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Тип
                    версии</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">FILTER by Materials</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Basement</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Wall</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Кровля</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">FILTER by Avtors</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Класс
                    волос</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em class="">Статус
                    продукта</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Тип
                    версии</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>








  </div>
</div>




<!--
       <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title" style="position: fixed; left: 32px; bottom: 35px; top: auto;"
            data-spm-anchor-id="a2700.8699010.0.i3.214c29a01CAc2C">
            <i class="ui2-icon ui2-icon-supplier-features abox-icon"></i>
            Статус поставщика
          </div>
          <div style="visibility: hidden; margin: 0px; padding: 0px; width: 185px; height: 35px; float: none;"></div>
        </div>
        <div class="abox-content">
          <div data-spm="18" id="J-supplier-location-refine">
            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-down"
                    data-spm-anchor-id="a2700.8699010.18.i0.214c29a01CAc2C"></i>
                  <em>
                    Поставщик по стране/региону
                  </em>
                </span>
              </div>
              <div class="attrs-box location hidden" data-role="attrs-box" style="display: none;">
                <div class="attr-item">
                  <a rel="nofollow" href="javascript:;" data-domdot="id:2610,ext:'valueId=IN|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26country\x3dIN\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">India <em class="num">(110)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a rel="nofollow" href="javascript:;" data-domdot="id:2610,ext:'valueId=CN|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26country\x3dCN\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Китай</span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a rel="nofollow" href="javascript:;" data-domdot="id:2610,ext:'valueId=IL|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26country\x3dIL\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Израиль <em class="num">(2)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a rel="nofollow" href="javascript:;" data-domdot="id:2610,ext:'valueId=TW|pos=4'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26country\x3dTW\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Тайвань, Китай <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a rel="nofollow" href="javascript:;" data-domdot="id:2610,ext:'valueId=VN|pos=5'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26country\x3dVN\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Вьетнам <em class="num">(1)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-supplier-location-refine'
              });
            });
          </script>

          <div data-spm="19" id="J-supplier-types-refine">
            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-down"
                    data-spm-anchor-id="a2700.8699010.19.i0.214c29a01CAc2C"></i>
                  <em>
                    Фильтр по поставщику
                  </em>
                </span>
              </div>
              <div class="attrs-box hidden" data-role="attrs-box" style="display: none;">

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26ta\x3dy\x26'"
                    data-domdot="id:17083,ext:'type=refine'" title="" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt"><i class="ui2-icon ui2-icon-ta"></i>Торговая
                        гарантия</span>
                    </label>
                  </a>
                </div>


                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26assessmentCompany\x3dtrue\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26'"
                    data-domdot="id:2618,ext:'type=refine'" title="" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">
                        <i
                          class="supplier-icon gold-supplier-old-icon ui2-icon-svg ui2-icon-svg-xs ui2-icon-svg-gold-plus-supplier"></i>

                        Проверенный
                      </span>
                    </label>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-supplier-types-refine'
              });
            });
          </script>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title" style="position: fixed; left: 32px; bottom: 0px; top: auto;"
            data-spm-anchor-id="a2700.8699010.0.i4.214c29a01CAc2C">
            Рекомендация
          </div>
          <div style="visibility: hidden; margin: 0px; padding: 0px; width: 185px; height: 34px; float: none;"></div>
        </div>
        <div class="abox-content">
          <div class="m-recommend-link" data-spm-protocol="i">
            <div class="link-box">
              <h2 class="link-title">Вас также заинтересуют</h2>
              <div class="link-c-box">
                <ul class="link-items">
                  <li>
                    <a href="https://russian.alibaba.com/f/дом-2-официальный-сайт.html">дом 2 официальный сайт</a>
                  </li>
                  <li>
                    <a href="https://russian.alibaba.com/f/пандора-сайт-официальный.html">пандора сайт официальный</a>
                  </li>
                  <li>
                    <a href="https://russian.alibaba.com/f/официальный-сайт-офис.html">официальный сайт офис</a>
                  </li>
                  <li>
                    <a href="https://russian.alibaba.com/f/официальные-сайты.html">официальные сайты</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/recommend-link/recommend-link.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
        </div>
      </div>
    </div>




-->









<!--

<div class="filters__filter-wrapper" data-filter-name="Тип будинку">

  <div class="filter-wrapper__title-disabled" title="Тип будинку">
    <h5 class="filter-wrapper__title-content">Тип будинку</h5>
  </div>

  <div class="filter-wrapper__content">
    <a href="#">

      <label class="seb-checkbox">

        <span class="seb-checkbox__inner-icon">
          <i class="seb-checkbox__inner-icon-select"></i>
        </span>

        <span class="seb-checkbox__label">
          <i class="seb-checkbox__label-icon"></i>
          <span class="seb-checkbox__label_text">Енергонезалежний</span>
        </span>

        <span class="seb-checkbox__quantity">(55)</span>

      </label>
    </a>



  </div>

  <div class="filter-wrapper__content">

    <label class="seb-checkbox">

      <span class="seb-checkbox__inner-icon">
        <i class="seb-checkbox__inner-icon-select"></i>
      </span>

      <span class="seb-checkbox__label">
        <i class="seb-checkbox__label-icon"></i>
        <span class="seb-checkbox__label_text">Типовий</span>
        <span class="seb-checkbox__label-quantity">(41)</span>
      </span>

    </label>

  </div>

</div>

<div class="filters__filter-wrapper" data-filter-name="Клас енергоефективності">

  <div class="filter-wrapper__title-disabled" title="Клас енергоефективності">
    <h5 class="filter-wrapper__title-content">Клас енергоефективності</h5>
  </div>

  <div class="filter-wrapper__content">

    <label class="seb-checkbox">

      <span class="seb-checkbox__inner-icon">
        <i class="seb-checkbox__inner-icon-select"></i>
      </span>

      <span class="seb-checkbox__label">
        <i class="seb-checkbox__label-icon"></i>
        <span class="seb-checkbox__label_text">Клас А</span>
        <span class="seb-checkbox__label-quantity">(12)</span>
      </span>

    </label>

  </div>

  <div class="filter-wrapper__content">
    <label class="seb-checkbox">
      <span class="seb-checkbox__inner-icon">
        <i class="seb-checkbox__inner-icon-select"></i>
      </span>
      <span class="seb-checkbox__label">
        <i class="seb-checkbox__label-icon"></i>
        <span class="seb-checkbox__label_text">Не визначено</span>
        <span class="seb-checkbox__label-quantity">(8)</span>
      </span>
    </label>
  </div>
</div>

-->
