
  <div class="wrap-top-header__global">

    <div class="logo-top-header-global">
      <a routerLink="/" rel="nofollow" title="">
        ??? надо чи тут що
      </a>

    </div>

    <div class="nav-top-header-global">

      <ul class="vertical-divider">

        <li>
          <a target="_blank" routerLink="/contact" rel="nofollow" title="">
            Architects / Sell your houseplans
          </a>
        </li>
        <li class="divider">|</li>

        <li>
          <a target="_blank" routerLink="#" rel="nofollow" title="">
            Builders / Provide services
          </a>
        </li>
        <li class="divider">|</li>

        <li>
          <a target="_blank" routerLink="#" rel="nofollow" title="">
            Suppliers / Sell materials
          </a>
        </li>



      </ul>


    </div>

  </div>



