<div class="wrap-bottom-header-global">

  <div id="geolocation-bottom-header-global">
    <app-geolocation-bottom-header-global></app-geolocation-bottom-header-global>
  </div>

  <div id="saved-bottom-header-global">
      <app-saved-bottom-header-global></app-saved-bottom-header-global>
  </div>

    <div id="department-bottom-header-global">
      <app-department-bottom-header-global></app-department-bottom-header-global>
    </div>

    <div id="customerservice-bottom-header-global">
      <app-customerservice-bottom-header-global></app-customerservice-bottom-header-global>
    </div>


    <div id="discount-bottom-header-global">
      <app-discount-bottom-header-global></app-discount-bottom-header-global>
    </div>

</div>
